@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change Password";
}

<div class="card m-auto" style="max-width: 750px">
    <div class="card-header text-center">
        <h3 style="font-size: 1.3rem">@ViewData["Title"]</h3>
    </div>
    <partial for="StatusMessage" name="_StatusMessage"/>
    <div class="card-body p-4">
        <div class="m-auto" style="max-width: 400px">
            <form id="profile-form" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input aria-required="true" asp-for="Input.OldPassword" autocomplete="current-password" class="form-control" placeholder="Current Password"/>
                    <label asp-for="Input.OldPassword" class="form-label"></label>
                    <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input aria-required="true" asp-for="Input.NewPassword" autocomplete="new-password" class="form-control" placeholder="New Password"/>
                    <label asp-for="Input.NewPassword" class="form-label"></label>
                    <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input aria-required="true" asp-for="Input.ConfirmPassword" autocomplete="new-password" class="form-control" placeholder="Repeat New Password"/>
                    <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <button class="btn btn-lg btn-primary w-100" type="submit">Save New Password</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
        <partial name="_ValidationScriptsPartial"/>
}
