<!DOCTYPE html>
<html dir="rtl" lang="fa">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>@ViewData["Title"] - Admin Panel</title>
    <link href="~/lib/bootstrap/css/bootstrap.rtl.min.css" rel="stylesheet"/>
    <link asp-append-version="true" href="~/lib/sidebar/style.css" rel="stylesheet"/>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link asp-append-version="true" href="~/css/site.css" rel="stylesheet"/>
    <link asp-append-version="true" href="~/Store.styles.css" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
</head>
<body>
<div class="align-items-stretch d-flex wrapper">
    <nav class="bg-dark" id="sidebar">
        <div class="custom-menu">
            <button class="btn-sidebar btn-sidebar-primary" id="sidebarCollapse" type="button">
                <i class="fa fa-bars"></i>
                <span class="sr-only">Toggle Menu</span>
            </button>
        </div>
        <div class="p-4">
            <div class="d-flex flex-column gap-2 text-center">
                <a asp-page="/Index" class="text-white" style="font-size: 1.1rem">
                    Admin Panel
                </a>
                <span class="text-white user-select-none">@User.Identity!.Name</span>
            </div>
            <hr class="bg-white"/>
            <ul class="components list-unstyled mb-5 sidebar-items">
                <li>
                    <a asp-page="/Index" class="d-flex">
                        <span class="material-symbols material-symbols-fill mr-3 text-white">
                            grid_view
                        </span>
                        Dashboard
                    </a>
                </li>
                <li>
                    <a asp-page="/ContactUs/Index" class="d-flex">
                        <span class="material-symbols material-symbols-fill mr-3 text-white">
                            chat
                        </span>
                        Messages
                    </a>
                </li>
                <li>
                    <a asp-page="/Members/Index" class="d-flex">
                        <span class="material-symbols material-symbols-fill mr-3 text-white">
                            group
                        </span>
                        Members
                    </a>
                </li>
                <li>
                    <a asp-page="/Categories/Index" class="d-flex">
                        <span class="material-symbols material-symbols-fill mr-3 text-white">
                            category
                        </span>
                        Categories
                    </a>
                </li>
                <li>
                    <a asp-page="/Products/Index" class="d-flex">
                        <span class="material-symbols material-symbols-fill mr-3 text-white">
                            deployed_code
                        </span>
                        Products
                    </a>
                </li>
                <li>
                    <a asp-area="Identity" asp-page="/Account/Manage/Index" class="d-flex">
                        <span class="material-symbols material-symbols-fill mr-3 text-white">
                            manage_accounts
                        </span>
                        Profile
                    </a>
                </li>
                <li>
                    <a asp-area="" asp-page="/Index" class="d-flex">
                        <span class="material-symbols material-symbols-fill mr-3 text-white">
                            home
                        </span>
                        Site Home Page
                    </a>
                </li>
                <li>
                    <a asp-area="Identity" asp-page="/Account/Logout" class="d-flex">
                        <span class="material-symbols material-symbols-fill mr-3 text-white">
                            logout
                        </span>
                        Logout
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Page Content  -->
    <div class="p-4 p-md-5 pt-3 pt-md-4" id="content">
            @RenderBody()
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/lib/popper/popper.min.js"></script>
<script asp-append-version="true" src="~/lib/sidebar/main.js"></script>
<script asp-append-version="true" src="~/js/site.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
