@page
@model Store.Pages.Orders.DetailsModel
@{
}

<h1>Order Details</h1>

<dl>
    <dt>Order Date:</dt>
    <dd>@Model.Order.OrderDate</dd>
    <dt>Product Name:</dt>
    <dd>@Model.Order.Product</dd>
    <dt>Quantity:</dt>
    <dd>@Model.Order.Quantity</dd>
    <dt>Status:</dt>
    <dd>@Model.Order.Status</dd>
</dl>
